@model CarFormModel

@{
    ViewData["Title"] = "Add Car";
}

<style>
    body {
        background-image: none;
    }

    .home-text {
        font-size: 0px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Add a Car</h2>
                </div>

                <div class="card-body">
                    <form asp-action="AddCar" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Make">Make:</label>
                                    <input asp-for="Make" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Model">Model:</label>
                                    <input asp-for="Model" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Price">Price:</label>
                                    <input asp-for="Price" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Month">Month:</label>
                                    <input asp-for="Month" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Year">Year:</label>
                                    <input asp-for="Year" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Mileage">Mileage:</label>
                                    <input asp-for="Mileage" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="HorsePower">Horse Power:</label>
                                    <input asp-for="HorsePower" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="FuelConsumption">Fuel Consumption:</label>
                                    <input asp-for="FuelConsumption" class="form-control" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Color">Color:</label>
                                    <input asp-for="Color" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="Description">Description:</label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LocationCity">Location City:</label>
                                    <input asp-for="LocationCity" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="LocationCountry">Location Country:</label>
                                    <input asp-for="LocationCountry" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label asp-for="CategoryId"></label>
                                    <select asp-for="CategoryId" class="form-control">
                                        @foreach (var category in Model.Categories)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CategoryId" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="FuelTypeId"></label>
                                    <select asp-for="FuelTypeId" class="form-control">
                                        @foreach (var fuelType in Model.FuelTypes)
                                        {
                                            <option value="@fuelType.Id">@fuelType.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CategoryId" class="small text-danger"></span>
                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="TransmissionTypeId"></label>
                                    <select asp-for="TransmissionTypeId" class="form-control">
                                        @foreach (var transmissionType in Model.TransmissionTypes)
                                        {
                                            <option value="@transmissionType.Id">@transmissionType.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="CategoryId" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Images">Upload Images:</label>
                                    <input asp-for="Images" type="file" class="form-control-file" multiple />
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add Car</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
