@model CarFormModel

@{
    ViewData["Title"] = "Add Car";
}

<style>
    body {
        background-image: none;
    }

    .home-text {
        font-size: 0px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Add a Car</h2>
                </div>

                <div class="card-body">
                    <form asp-action="Add" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Make">Make:</label>
                                    <input asp-for="@Model.Make" class="form-control" />
                                    <span asp-validation-for="@Model.Make" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Model">Model:</label>
                                    <input asp-for="@Model.Model" class="form-control" />
                                    <span asp-validation-for="@Model.Model" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Price">Price:</label>
                                    <input asp-for="@Model.Price" class="form-control" />
                                    <span asp-validation-for="@Model.Price" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Month">Month:</label>
                                    <input asp-for="@Model.Month" class="form-control" />
                                    <span asp-validation-for="@Model.Month" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Year">Year:</label>
                                    <input asp-for="@Model.Year" class="form-control" />
                                    <span asp-validation-for="@Model.Year" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Mileage">Mileage:</label>
                                    <input asp-for="@Model.Mileage" class="form-control" />
                                    <span asp-validation-for="@Model.Mileage" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.HorsePower">Horse Power:</label>
                                    <input asp-for="@Model.HorsePower" class="form-control" />
                                    <span asp-validation-for="@Model.HorsePower" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.FuelConsumption">Fuel Consumption:</label>
                                    <input asp-for="@Model.FuelConsumption" class="form-control" />
                                    <span asp-validation-for="@Model.FuelConsumption" class="small text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Color">Color:</label>
                                    <input asp-for="@Model.Color" class="form-control" />
                                    <span asp-validation-for="@Model.Color" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.Description">Description: (optional)</label>
                                    <textarea asp-for="@Model.Description" class="form-control"></textarea>
                                    <span asp-validation-for="@Model.Description" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.LocationCity">Location City:</label>
                                    <input asp-for="@Model.LocationCity" class="form-control" />
                                    <span asp-validation-for="@Model.LocationCity" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.LocationCountry">Location Country:</label>
                                    <input asp-for="@Model.LocationCountry" class="form-control" />
                                    <span asp-validation-for="@Model.LocationCountry" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.CategoryId"></label>
                                    <select asp-for="@Model.CategoryId" class="form-control">
                                        @foreach (var category in Model.Categories)
                                        {
                                            <option value="@category.Id">@category.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.CategoryId" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.FuelTypeId"></label>
                                    <select asp-for="@Model.FuelTypeId" class="form-control">
                                        @foreach (var fuelType in Model.FuelTypes)
                                        {
                                            <option value="@fuelType.Id">@fuelType.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.FuelTypeId" class="small text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="@Model.TransmissionTypeId"></label>
                                    <select asp-for="@Model.TransmissionTypeId" class="form-control">
                                        @foreach (var transmissionType in Model.TransmissionTypes)
                                        {
                                            <option value="@transmissionType.Id">@transmissionType.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="@Model.TransmissionTypeId" class="small text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Images">Upload Images:</label>
                                    <input asp-for="@Model.Images" type="file" class="form-control" multiple />
                                    <span asp-validation-for="@Model.Images" class="small text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <input class="btn btn-primary mt-3" type="submit" value="Add car" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}