@using VelocityAutos.Services.Data.Interfaces
@using VelocityAutos.Web.Infrastructure.Extensions
@model IEnumerable<CarAllViewModel>

@inject IPostService PostService

<head>
    <title>All cars</title>
    <link rel="stylesheet" href="~/css/allCars.css" />
</head>

<div class="header">
    <h1>Car Showcase</h1>
</div>

<div class="car-container">

@foreach (var car in Model)
{
    //bool isUserOwner = await PostService.IsUserPostOwnerById(car.Id, User.GetId()!);
      <div class="car">
          <img src="~/audiA4-image3.jpg" alt="@car.Make">
          <div class="car-info">
                @* @if (isUserOwner)
                {
                    <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning fw-bold">Edit</a>
                } *@
              <div class="car-title">@car.Make</div>
              <div class="car-description">@car.Model</div>
                <a asp-controller="Car" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">Details</a>
                <a asp-controller="Car" asp-action="Edit" asp-route-id="@car.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
          </div>
      </div>
}
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}